.homepage {
    font-family: 'Roboto', sans-serif;
        color: rgba(18, 20, 23, 1);
        background-color: rgba(248, 248, 248, 1);
        margin-top: 20px;
        margin-right, 
        margin-bottom: 24px;
        margin-left: 64px;
}

.h1 {
    font-weight: 500px;
    font-size: 48px;
    line-height: 1.17;
    padding-top: 98px;
    padding-right: 108px;
    padding-bottom: 32px;
    padding-left: 64px;
    text-align: left;
}

.span {
    font-style: italic;
    font-weight: 400;
}

.p {
    font-size: 16px;
    line-height: 1.38;
}

.image {
    padding-top: ;
}